<div class="strip-card"> 
    <div class="strip-image">
        <img src="https://acomics.ru/upload/!c/RusPeanuts/peanuts/003904-2sii9gxvn4.png" alt="there must be strip" class="strip-card__image">
    </div>

    <div class="strip-card__info"> 
        <strong> Date of strip</strong>
        <div class="strip-card__tags">
            <div class="character-tag"> Lyci </div>
            <div class="character-tag"> Charlie Brown </div>
            <div class="character-tag"> Snoopy </div>
        </div>
    </div>

    <div class="strip-card__action-buttons">
        <button class="btn"> GO </button>
    </div>
</div>
